{% extends "base.html" %}

{% block content %}
<br>
<h1 class="bg-light p-3 text-center">Записи нашего блога</h1>
{% for item in news %}
<div class="col border rounded">
    <h2>{{ item.title }}</h2>
    <div>
        {{ item.content }}
    </div>
    <div>
        Автор: {{ item.user.name }},
        Дата новости: {{ item.create_date.strftime('%d/%m/%Y в %H:%M') }}
    </div><br>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a class="btn btn-primary btn-sm" href="/blog/{{ item.id }}">Изменить</a>&nbsp;
        <a class="btn btn-danger btn-sm" href="/news_delete/{{ item.id }}"
        onclick="return confirm('Вы действительно хотите удалить новость №{{ item.id }} {{ item.title }}?')">Удалить</a>
    </div><br>
    {% endif %}
</div><br>
{% endfor %}
{% if current_user.is_authenticated %}
<a href="/add" class="btn btn-secondary">Добавить новость</a>
{% endif %}
{% endblock %}

{% block footer %}
<!--подвал-->
<br>
<footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 С нами по свету
    </div>
    <!-- Copyright -->
</footer>
<!--подвал end-->
{% endblock %}